<div>
    <h3>{{question.text}}</h3>

    <input type="text" ng-model="question.answerText"/>
    <button>Submit</button>

    <h4>Answers:</h4>
    <md-list>
        <md-list-item ng-repeat="answer in question.answers">
          <div layout="column">
            <img ng-src={{'https://s3.amazonaws.com/uifaces/faces/twitter/'+answer.user.id+'/128.jpg'}}
                 class="md-avatar" alt="{{answer.user.name}}"/>
            <span>{{answer.created}}</span>
            <star-rating rating="answer.rating" on-rating-select="vote(answer)"></star-rating>
          </div>
            <p>{{answer.text}}</p>
        </md-list-item>
    </md-list>
</div>
