.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
html,body{background: #fff;}
.star-raiting-container .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-raiting-container .star.filled {
  color: #fd0;
}
.star-rating-preview-star{position: relative; display: inline-block; vertical-align: top;vertical-align: top; margin-right: 15px;} 
.star-rating.readonly .star.filled {
  color: #666;
}

.star-rating-preview .star{font-size: 55px;} 
.star-rating-preview .star.filled{position: absolute; clip-path: rect(0, 100%, 0, 50%); top: 0; left: 0;}
.star-rating-preview .star.unfilled{}
.star-rating-preview .rating-value{
  font-size: 35px;
}
.star-rating-preview .star-info{display: inline-block;}
.star-raiting-container{position:relative;margin-left: 15px;}
.star-rating{width: 208px; z-index: 10; position: absolute; left: 0px; background: #fff; border-radius: 5px;  top: 100%; box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);}

star-rating, .summary-header-container{display: inline-block;}


.summary-md-list{text-align: center;}
.summaries-list-item{display: inline-block; text-align: left;}
.summaries-list-item{border: 1px solid rgba(0, 0, 0, 0.3); margin: 5px;}
md-chips.md-default-theme .md-chips, md-chips .md-chips{box-shadow: none;}


.fade-animation {
  display: block;
    opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade-animation.ng-enter {
    opacity: 0;
}
.fade-animation.ng-enter-active {
    opacity: 1;
}
.fade-animation.ng-leave {
    position: absolute; top: 70px;
    opacity: 1;
}
.fade-animation.ng-leave-active {
    opacity: 0;
}