<div ng-mouseleave="isOpen = false" class="star-raiting-container">
    <span ng-mouseenter="isOpen = true" class="star-rating-preview">
        <div class="star-rating-preview-star">
            <div class="star unfilled"><i  class="fa fa-star"></i></div>
            <div class="star filled" ng-style="{'-webkit-clip-path': 'inset(0% '+rating.percent()+'% 0% 0%)'}"><i  class="fa fa-star"></i></div>
        </div>
        <div class="star-info">
          <span><span class="rating-value">{{rating.value}}</span>/<span class="rating-max">{{max}}</span></span>
          <div class="rating-count">{{rating.count}} votes</div>
        </div>
    </span>
    <ul ng-show="isOpen" class="star-rating" ng-class="{readonly: readonly}">
        <li ng-repeat="star in stars" class="star" ng-class="{filled: star.filled}" ng-click="toggle($index)">
            <i class="fa fa-star"></i>
        </li>
    </ul>
</div>
