<div>
    <p> hello world 1</p>
    {{vm.test}}

    <md-expansion-panel-group md-component-id="panelGroup" multiple>
        <md-expansion-panel md-component-id="panelOne">

            <md-expansion-panel-collapsed>
                <div class="md-title">Title</div>
                <div class="md-summary">Summary</div>
                <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-collapsed>


            <md-expansion-panel-expanded>

                <md-expansion-panel-header>
                    <div class="md-title">Expanded Title</div>
                    <div class="md-summary">Expanded Summary</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-header>

                <md-expansion-panel-content>
                    <h4>Content</h4>
                    <p>Put content in here</p>
                </md-expansion-panel-content>

                <md-expansion-panel-footer>
                    <div flex></div>
                    <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
                </md-expansion-panel-footer>

            </md-expansion-panel-expanded>

        </md-expansion-panel>
        <md-expansion-panel md-component-id="panelTwo" >

            <md-expansion-panel-collapsed>
                <div class="md-title">Questions</div>
                <div class="md-summary">Summary questions</div>
                <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-collapsed>


            <md-expansion-panel-expanded>

                <md-expansion-panel-header>
                    <div class="md-title">Questions</div>
                    <div class="md-summary">Summary questions: {{vm.questions.length}}</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-header>

                <md-expansion-panel-content>
                  <md-list>
                    <md-list-item ng-repeat="question in vm.questions">
                      <view-summary-question question="question"></view-summary-question>
                    </md-list-item>
                  </md-list>
                </md-expansion-panel-content>

                <md-expansion-panel-footer>
                    <div flex></div>
                    <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
                </md-expansion-panel-footer>

            </md-expansion-panel-expanded>

        </md-expansion-panel>

    </md-expansion-panel-group>

</div>
